/*INTRO*/
.imgme{
	animation: aimgme 2s 0s linear infinite;
	left:8.33vw
	
}
@keyframes aimgme {
	0%{
		top:10vh;
	}
	50%{
		top:15vh;
	}
	
	100%{
		top:10vh;
	}
}
.ps{
	position: absolute;
	left:33.33vw;
	animation: aps 2s 0s linear infinite;
}
@keyframes aps {
	0%{
		top:20px;
	}
	40%{
		top:80px;
	}
	
	100%{
		top:20px;
	}
}
.ai{
	position: absolute;
	left:30vw;
	animation: aai 2s 0s linear infinite;
	z-index: 21;
}
@keyframes aai {
	0%{
		top:75vh;
	}
	40%{
		top:68vh;
	}
	
	100%{
		top:75vh;
	}
}
.an{
	position: absolute;
	left:5vw;
	animation: aan 2s 0s linear infinite;
	z-index: 20;
}
@keyframes aan {
	0%{
		top:40vh;
	}
	40%{
		top:60vh;
	}
	
	100%{
		top:40vh;
	}
}
.name1{
	position: absolute;
	top:25vh;
/*	right:8.33vw;*/
	animation: aname1 0.4s 0s linear forwards;
/*	z-index: 20;*/
	opacity: 0;
}
@keyframes aname1 {
	0%{
		left:100px;
		opacity: 0;
	}
	
	100%{
		left:0px;
		opacity: 1;
	}
}
.job1{
	position: absolute;
	top:37vh;
/*	right:8.33vw;*/
	animation: ajob1 0.4s 0.4s linear forwards;
/*	z-index: 20;*/
	opacity: 0;
}
@keyframes ajob1 {
	0%{
		left:100px;
		opacity: 0;
	}
	
	100%{
		left:0px;
		opacity: 1;
	}
}
.btn1{
/*	width:*/
	position: absolute;
	top:50vh;
/*	right:8.33vw;*/
	animation: abtn1 0.4s 0.8s linear forwards;
/*	z-index: 20;*/
	opacity: 0;
}
@keyframes abtn1 {
	0%{
		top:60vh;
		opacity: 0;
	}
	
	100%{
		top:47vh;
		opacity: 1;
	}
}
.ic_box{
/*	width:*/
/*	right:8.33vw;*/
	animation: aicbox 1s 1.2s linear forwards;
	z-index: 30;
	opacity: 0;
}
@keyframes aicbox {
	0%{
		transform: scale(0.5);
		opacity: 0;
	}
	
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
/*LOADING*/



